.Sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s ease-in-out;
  justify-content: space-between;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  padding: 15px;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.link {
  font: var(--font-l);
  opacity: 1;
  transition: 0.3s opacity;
}

.linkIcon {
  width: 32px;
  height: 32px;
  fill: var(--inverted-primary-color);
}

.sidebarActions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collapseBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 10px;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: 24px;
      height: 24px;
      fill: var(--inverted-primary-color);
    }
  }

  & p {
    opacity: 1;
    visibility: visible;
  }
}

.switchers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  opacity: 0.3s width;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .items {
    align-items: center;
    gap: 0;
  }

  .link {
    opacity: 0;
    width: 0;
    transition: 0.3s opacity;
  }

  .collapseBtn {
    & div {
      transform: rotate(180deg);
      transition: 0.2s transform;
    }

    & p {
      transition: 0.2s opacity;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}
